<div id="wrapper">
  <h1>Welcome to NewsScaper!</h1>
  <button id="getScrape">Scrape New Articles</button>

  <div id="articles">
    {{#each articles}}
    <p>{{this.title}}</p>
    <a href>{{this.link}}</a>
    <p>--------</p>
    {{/each}}
  </div>
  <div id="notes">

  </div>
</div>